* {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	// font-weight: 300;
}

.dropdown-menu > li > a {
	// font-weight: 300;
}

.navbar-inverse {
	box-shadow: #CCC 0px 0px 5px;
}

.navbar-inverse .navbar-nav > li > a {
	font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
	// font-weight: 300;
}

h1 {
	font-size: 37px;
}

.container {
	background: white;
}

@media only screen and (min-width: 1200px) {
	.container {
		padding-left: 40px;
		padding-right: 40px;
	}
}

footer.container {
	background: #DDD;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: solid 3px #CCC;
}

.toptitle {
	font-family: 'Oswald', sans-serif;
}

.btn-abstract {
    background: #8D6AE7;
    border-color: #6744BF;
    color: white;
}

.btn-abstract:hover,
.btn-abstract:active,
.btn-abstract:focus {
    color: white;
    background: #6744BF;
    border-color: #6340BD;
}

.btn-mainpage {
		font-size: 20px;
		white-space: normal;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background: #212121;
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar,
.navbar-toggle:active .icon-bar {
	background: white;
}

main.container {
	padding-bottom: 50px;
}

.mainpage {
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 15px;
}

.mainpage:first {
	margin-top: 25px;
}

@media only screen and (max-width: 767px) {
	* {
		font-size: 14px;
	}
}
